.chat-message.AI {
    background-color: #444654;
}

.chat-message-center {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.chat-message-content {
    padding-left: 40px;
    padding-right: 40px;
    word-break: break-word;
    overflow-wrap: break-word;
}
