
.userInfoMenu {
    background-color: transparent;
    border: none;
}

.userInfoMenuList {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    position: absolute;
    right: 2vw;
    z-index: 1;
    padding: 0.5rem;
}

.userInfoMenuUsernameHr {
    border: 1px solid var(--border-color);
}

.userInfoMenuItem {
    width: 100%;
    margin: 2px;
    background-color: transparent;
    /* must add transparent border or the button will shake on hover */
    border: 1px solid transparent;
    color: var(--text-primary);
    display: flex;
    align-items: center;
}
