
.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  overflow: hidden;
}

.chatbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary);
    position: relative;
}
