
.App {
  display: flex;
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.chatbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary);
    position: relative;
}
