@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/gray-hsl.min.css";

.theme-light {
  --bg-primary: var(--gray-1);
  --bg-secondary: var(--gray-3);
  --text-primary: var(--gray-8);
  --text-secondary: var(--gray-7);
  --text-3: var(--gray-5);
  --border-color: var(--gray-5);
}

.theme-dark {
  --bg-primary: var(--gray-8);
  --bg-secondary: var(--gray-7);
  --text-primary: var(--gray-3);
  --text-secondary: var(--gray-4);
  --text-3: var(--gray-6);
  --border-color: var(--gray-6);
}

/* TODO: investigate if we can inherit */
@media (prefers-color-scheme: dark) {
  .theme-system {
    --bg-primary: var(--gray-8);
    --bg-secondary: var(--gray-7);
    --text-primary: var(--gray-3);
    --text-secondary: var(--gray-4);
    --text-3: var(--gray-6);
    --border-color: var(--gray-6);
  }
}

@media (prefers-color-scheme: light) {
  .theme-system {
    --bg-primary: var(--gray-1);
    --bg-secondary: var(--gray-3);
    --text-primary: var(--gray-8);
    --text-secondary: var(--gray-7);
    --text-3: var(--gray-5);
    --border-color: var(--gray-5);
  }
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.del-dialog {
  width: 25vw;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  border: none;
  border-radius: 5px;
}

.del-dialog-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.del-dialog-content>label {
  margin: 0.5rem;
}

.del-dialog-content>input {
  margin: 0.5rem;
  outline: 0;
  border-width: 0 0 2px;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.del-dialog-actions {
  margin-top: auto;
  display: flex;
  flex-direction: row-reverse;
}

.del-dialog-actions>button {
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  border: unset;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
