@import "open-props/style";
@import "open-props/gray-hsl.min.css";

.theme-light {
  --bg-primary: var(--gray-1);
  --bg-secondary: var(--gray-3);
  --text-primary: var(--gray-8);
  --text-secondary: var(--gray-7);
  --text-3: var(--gray-5);
  --border-color: var(--gray-5);
}

.theme-dark {
  --bg-primary: var(--gray-8);
  --bg-secondary: var(--gray-7);
  --text-primary: var(--gray-3);
  --text-secondary: var(--gray-4);
  --text-3: var(--gray-6);
  --border-color: var(--gray-6);
}

/* TODO: investigate if we can inherit */
@media (prefers-color-scheme: dark) {
  .theme-system {
    --bg-primary: var(--gray-8);
    --bg-secondary: var(--gray-7);
    --text-primary: var(--gray-3);
    --text-secondary: var(--gray-4);
    --text-3: var(--gray-6);
    --border-color: var(--gray-6);
  }
}

@media (prefers-color-scheme: light) {
  .theme-system {
    --bg-primary: var(--gray-1);
    --bg-secondary: var(--gray-3);
    --text-primary: var(--gray-8);
    --text-secondary: var(--gray-7);
    --text-3: var(--gray-5);
    --border-color: var(--gray-5);
  }
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
