.fullScreenContainer {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: zoom-out;
}

.fullScreenImage {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    cursor: default;
}
