.dropdown {
    /* Seems nothing to add here */
}

.dropdownButton {
    cursor: pointer;
}

.dropdownMenu {
    position: absolute;
}

.dropdownMenu li {
    list-style: none;
    width: 100%;
    white-space: nowrap;
}

.hidden {
    display: none;
}
