@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/gray-hsl.min.css";

.theme-light {
  --bg-primary: var(--gray-1);
  --bg-secondary: var(--gray-3);
  --text-primary: var(--gray-8);
  --text-secondary: var(--gray-7);
  --border-color: var(--gray-5);
}

.theme-dark {
  --bg-primary: var(--gray-8);
  --bg-secondary: var(--gray-7);
  --text-primary: var(--gray-3);
  --text-secondary: var(--gray-4);
  --border-color: var(--gray-6);
}

/* TODO: investigate if we can inherit */
@media (prefers-color-scheme: dark) {
  .theme-system {
    --bg-primary: var(--gray-8);
    --bg-secondary: var(--gray-7);
    --text-primary: var(--gray-3);
    --text-secondary: var(--gray-4);
    --border-color: var(--gray-6);
  }
}

@media (prefers-color-scheme: light) {
  .theme-system {
    --bg-primary: var(--gray-1);
    --bg-secondary: var(--gray-3);
    --text-primary: var(--gray-8);
    --text-secondary: var(--gray-7);
    --border-color: var(--gray-5);
  }
}

.App {
  text-align: center;
  display: flex;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chatbox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  border: 1px solid var(--border-color);
  background-color: var(--bg-secondary);
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}