@import "open-props/style";
@import "open-props/gray-hsl.min.css";
@import "material-icons/iconfont/material-icons.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  /* This is the light color theme.
   * For dark color theme see `@media (prefers-color-scheme: dark)` below.
   */
  color: var(--gray-8);
  background-color: var(--gray-1);

  --text-primary: var(--gray-8);
  --bg-primary: var(--gray-1);
  --border-color: var(--gray-5);

  --text-secondary: var(--gray-7);
  --bg-secondary: var(--gray-3);

  --bg-highlight: var(--gray-3);

  --text-3: var(--gray-5);
}

.dark {
  color: var(--gray-3);
  background-color: var(--gray-8);

  --text-primary: var(--gray-3);
  --bg-primary: var(--gray-8);
  --border-color: var(--gray-6);

  --text-secondary: var(--gray-4);
  --bg-secondary: var(--gray-7);

  --bg-highlight: var(--gray-7);

  --text-3: var(--gray-6);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

body:has(dialog[open]) {
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--bg-highlight);
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  .scroll-box {
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) transparent;
    scroll-behavior: smooth;
  }
}

/* TODO: I need to test it on Safari */
/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
@supports selector(::-webkit-scrollbar) {
  .scroll-box::-webkit-scrollbar {
    width: thin;
    color: var(--border-color);
    background-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--gray-3);
    background-color: var(--gray-8);

    --text-primary: var(--gray-3);
    --bg-primary: var(--gray-8);
    --border-color: var(--gray-6);

    --text-secondary: var(--gray-4);
    --bg-secondary: var(--gray-7);

    --text-3: var(--gray-6);
  }
  a:hover {
    color: #535bf2;
  }
  button {
    background-color: #1a1a1a;
  }
}
