
.welcomeContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.welcome {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0.5rem 0;
}

.inputBottom {
    position: sticky;
    bottom: 0;
    margin-top: auto;
    background-color: var(--bg-secondary);
}

.footer {
    color: var(--text-secondary);
    font-size: 0.75em;
    margin: 5px;
    text-align: center;
}
