[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.100.0"
langchain = ">=0.0.300"
loguru = "~=0.7"
# redis-om 0.2.1 requires pydantic<2.1.0
pydantic = "~=2.0.0"
pydantic-settings = "~=2.0"
# redis-om 0.2.1 requires redis<5.0.0
redis = {extras = ["hiredis"], version = "<5.0.0"}
redis-om = "~=0.2.1"
requests = "~=2.31"
text-generation = "~=0.6.1"
uvicorn = {extras = ["standard"], version = ">=0.23.0"}
websockets = "~=12.0"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
